
.field-item .fieldName .fieldNameInput,
.field-item .prefix .prefixInput,
.field-item .fieldType .fieldTypeSelect,
.field-item .logic .logicSelect,
#database-name,
#table-name,
#table-size {
    color: #1a1a1a;
    /*width: 100%;*/
    /*height: 100%;*/
    box-shadow: black 0 0;
    outline-style: none;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    font-family: "Microsoft soft"
}

.field-item .fieldName .fieldNameInput {
    background: #fffae5;
    border-bottom: #9c9c9c 1px solid;
    padding: 5px 5px 3px 5px;
    width: 100px;
}

.field-item .prefix .prefixInput,
#database-name,
#table-name {
    border-bottom: #9c9c9c 1px solid;
    padding: 5px 5px 3px 5px;
    width: 130px;
}

.field-item .prefix .prefixInput {
    width: 80px;
}

.field-item .fieldName .fieldNameInput:focus,
.field-item .prefix .prefixInput:focus,
#database-name:focus,
#table-name:focus {
    border-color: #f07b00;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    #f07b00;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    #f07b00;
}

.field-item .logic .logicSelect,
#table_size {
    padding: 5px 15px;
}

.field-item .fieldType .fieldTypeSelect {
    /*去除三角形*/
    /*appearance: none;*/
    background: #fffae5;
    padding: 5px 15px;
}

.field-item .fieldType .fieldTypeSelect option {
    background: white;
}

.footer {

}

.table-info {
    margin-bottom: 20px;
}

#database-name,
#table-name {

}

.table-info label:nth-child(3),
.table-info label:nth-child(5) {
    margin-left: 20px;
}

.table-info input::-webkit-input-placeholder {
    color: #cbcbcb;
}

.delete-button {

}

.primary-checkbox {
    margin-left: 10px;
}

#database_connection > .pure-menu-link {
    color: #e08989;
}

#connection-InfoRecord {
    margin-right: 20px;
    background-color: #e08989;
}