<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kisara - 自定义表数据生成</title>
    <th:block th:include="common::header"></th:block>

</head>
<body>
<div id="layout">
    <a href="#menu" id="menuLink" class="menu-link"><span></span></a>

    <th:block th:include="common::menu"></th:block>
    <div id="main">
        <div class="header">
            <h2>模拟数据生成工具</h2>
        </div>
        <div class="content">
            <h2 id="stacked-form" class="content-subhead">自定义规则生成<a href="#stacked-form" class="content-link"
                                                                    title="Heading anchor"></a></h2>
            <p>注意：</p>
            <p>1.数据库不存在会进行创建，存在时会直接使用</p>
            <p>2.表不存在时会进行创建，存在时会删除重建</p>

            <form class="pure-form" th:action="@{/rules}" method="post">
                <fieldset>
                    <legend>填写数据生成相关配置</legend>
                </fieldset>
                <div class="table-info">
                    <label for="database-name">数据库名：</label>
                    <input id="database-name" class="pure-u-1-5" type="text"
                           required>
                    <label for="table-name">表名：</label>
                    <input id="table-name" class="pure-u-1-5" type="text"
                           required>
                    <label for="table-size">数据大小：</label>
                    <select id="table-size" class="pure-input-1-5">
                        <option>100</option>
                        <option>1000</option>
                        <option>1_0000</option>
                        <option>10_0000</option>
                        <option>100_0000</option>
                    </select>
                </div>

                <div class="table-responsive">
                    <table class="mq-table pure-table-bordered pure-table">
                        <thead>
                        <tr>
                            <th class="highlight">字段名</th>
                            <th class="highlight">数据类型</th>
                            <th>生成逻辑</th>
                            <th>前缀</th>
                            <th>主键</th>
                            <th id="field-item-delete-th"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--测试项 1-->
                        <tr class="field-item">
                            <td class="highlight fieldName"><input class="fieldNameInput" name="fieldName" value="id"
                                                                   title="字段"></td>
                            <td class="highlight fieldType"><select class="fieldTypeSelect" name="fieldType"
                                                                    onclick="fieldTypeOnclick(this)"></select></td>
                            <td class="logic"><select class="logicSelect" name="logic"
                                                      onclick="fieldLogicOnclick(this)"></select></td>
                            <td class="prefix"><input class="prefixInput" name="prefix"></td>
                            <td class="primary"><input type="checkbox" class="primary-checkbox" name="primary"></td>

                            <td class="field-item-delete"><input class="field-item-delete-button" type="button"
                                                                 value="X" onclick="delField(this)"></td>
                        </tr>
                        <!--测试项 2-->
                        <tr class="field-item">
                            <td class="highlight fieldName"><input class="fieldNameInput" name="fieldName" value="name">
                            </td>
                            <td class="highlight fieldType"><select class="fieldTypeSelect" name="fieldType"
                                                                    onclick="fieldTypeOnclick(this)"></select>
                            </td>
                            <td class="logic"><select class="logicSelect" name="logic"
                                                      onclick="fieldLogicOnclick(this)"></select></td>
                            <td class="prefix"><input class="prefixInput" name="prefix"></td>
                            <td class="primary"><input type="checkbox" class="primary-checkbox" name="primary"></td>

                            <td class="field-item-delete"><input class="field-item-delete-button" type="button"
                                                                 value="X" onclick="delField(this)"></td>
                        </tr>
                        </tbody>

                    </table>
                </div>

                <button id="add-field" class="pure-button pure-button-primary"
                        onclick="addField(event)">添加字段
                </button>
                <input id="fromSubmit" type="submit" value="生成" class="pure-button pure-button-primary"
                       onclick="formSubmit(event)"/>
            </form>
        </div>
        <th:block th:include="common::footer"></th:block>
    </div>

    <div id="hidden-element" style="display: none">

    </div>
</div>
</body>
</html>
