<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kisara - 自定义表数据生成</title>
    <th:block th:include="common::header"></th:block>

</head>
<body>
<div id="layout">
    <a href="#menu" id="menuLink" class="menu-link"><span></span></a>

    <th:block th:include="common::menu"></th:block>
    <div id="main">
        <div class="header">
            <h2>index / 总览</h2>
        </div>
        <div class="content">
            <!--<h2 id="stacked-form" class="content-subhead">自定义规则生成<a href="#stacked-form" class="content-link"-->
            <!--                                                        title="Heading anchor"></a></h2>-->
            <!--<p>格式：</p>-->
            <!--<p>UUID：448369fa-2a3d-4c90-9be6-67e5dae8ed4e</p>-->
            <!--<p>NanoID（32位）：FEbXpOPma1kXDVuovbmGk</p>-->
            <!--<p>3.xxoxxxoxx</p>-->


        </div>
        <th:block th:include="common::footer"></th:block>
    </div>
</div>
</body>
</html>
